Dockerfile
node_modules
npm-debug.log
README.md
.git
.gitignore
.husky
.editorconfig
.editorignore
.eslintrc.js
.eslintignore
.npmignore
.prettierrc.cjs
.prettierignore

azure-ci-pipeline.yml
styles.d.ts
.next